@page
@model SaleUI.Pages.SaleIndexModel
@{
    ViewData["Title"] = "SaleIndex";
    Layout = "~/Pages/_Layout.cshtml";
}
<h2>SaleIndex</h2>
<form method="POST">
    <div>Product SKU: <input asp-for="SaleEntry.ProductSKU" /></div>
    <div>Product Name: <input asp-for="SaleEntry.ProductName" /></div>
    <div>Description: <input asp-for="SaleEntry.ProductDescription" /></div>
    <div>Price: <input asp-for="SaleEntry.ProductPrice" /></div>
    <div>Quantity: <input asp-for="SaleEntry.Quantity" /></div>
    <div>Branch: <input asp-for="SaleEntry.Branch" /></div>
    <div>Sold By: <input asp-for="SaleEntry.SoldBy" /></div>
    <div>Sale Date: <input asp-for="SaleEntry.SaleDate" /></div>
    <div>Encoded By: <input asp-for="SaleEntry.EncodedBy" /></div>
    <input type="submit" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
